body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

#downloadMessage {
    margin-top: 20px;
    font-weight: bold;
    display: none;
}